
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1492691329171'); /* IE9*/
  src: url('iconfont.eot?t=1492691329171#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492691329171') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492691329171') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492691329171#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before { content: "\e613"; }

.icon-qianbi:before { content: "\e650"; }

.icon-iconfont31:before { content: "\e70e"; }

.icon-screen:before { content: "\e682"; }

.icon-chatouplug:before { content: "\e643"; }

.icon-caidan:before { content: "\e600"; }

.icon-google:before { content: "\e635"; }

.icon-twtter01-copy:before { content: "\e6d1"; }

.icon-caidan1:before { content: "\e601"; }

.icon-qiu:before { content: "\e6a1"; }

.icon-shejiao-twitter:before { content: "\e8bf"; }

